@page "/Concepts/VolumeOfDistribution"
@using PharmCore.Client.Pages.Components
<h3>VolumeOfDistribution</h3>

<RadialMenu MenuItems="menuItems" />

@code {
    private List<RadialMenuItem> menuItems = new()
    {
        new RadialMenuItem { Label = "Learn", Url = "/Concepts/VolumeOfDistribution/Learn" },
        new RadialMenuItem { Label = "Video", Url = "/Concepts/VolumeOfDistribution/Video" }
        // new RadialMenuItem { Label = "Skia", Url = "/Concepts/VolumeOfDistribution/SkiaPage" }
    };
}
