
@inject NavigationManager Navigation

<button class="radial-button" style="position: absolute; font: arial; z-index: 20; font-weight:bold;
box-shadow: 2rem -2rem 2rem rgba(255,255, 255, 0.15), -2rem 2rem 2rem rgba(0, 0, 0, 0.08); text-shadow: black 0.1rem 0.1rem 0.5rem; color:azure;
background:linear-gradient(40deg, darkOrange, pink); width:10%; left: 15vw; top: 80vh" @onclick="@GoTo">@Text</button>
@code {

    [Parameter]
    public string Page { get; set; } = "/";
    [Parameter]
    public string Text { get; set; } = "Back";

    private void GoTo(MouseEventArgs e)
    {
        Navigation.NavigateTo($"{Page}");
    }
}