@page "/"

@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>

<div style="position: relative; display: flex; justify-content: center; align-items: center;">
    <button class="btn btn-primary" @onclick="@Concepts">Concepts</button>
    <button class="btn btn-primary" @onclick="@Dev">Dev</button>
</div>

@code {
    private void Concepts(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Concepts");
    }

    private void Dev(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Dev");
    }
}

