@implements IAsyncDisposable
@inject IJSRuntime JS

<div class="molecule-div">
    <svg id="moleculeCanvas" class="molecule-container"></svg>
</div>



@code {
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Pages/molecules.razor.js");

            await module.InvokeVoidAsync("initMoleculeAnimation");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}
