@page "/Concepts/DrugBioavailability"

@layout PharmCore.Client.Layout.ConceptLayout

<DevButton Page="/" />

<SectionContent SectionName="ConceptNav">
    @*  <PharmCore.Client.Layout.NavMenu /> *@
    <PharmCore.Client.Pages.Components.ConceptNav  />
</SectionContent>

<SectionContent SectionName="ConceptTitle">
    <div>
        <h1>Drug Bioavailability</h1>
    </div>
</SectionContent>

<SectionContent SectionName="ConceptText">
    <p>
        [Not implemented]
    </p>
</SectionContent>

@* <SectionContent SectionName="ConceptGrid1">
    <h2>n/a</h2>
</SectionContent>

<SectionContent SectionName="ConceptGrid2">
    <h2>n/a</h2>
</SectionContent>

<SectionContent SectionName="ConceptGrid3">
    <h2>n/a</h2>
</SectionContent>

<SectionContent SectionName="ConceptGrid4">
    <h2>n/a</h2>
</SectionContent> *@
@code {

}