@page "/vimeo"


<div class="video-container">
    <iframe src="@videoUrl"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen>
    </iframe>
</div>
@code {
    [Parameter] public string VideoId { get; set; } = "469366240";
    private string videoUrl => $"https://player.vimeo.com/video/{VideoId}";

    //            width="640"
    //            height="360"
}
