@page "/Concepts/VolumeOfDistribution/Learn"
<h3>Learn about Volume of Distribution</h3>

<PharmCore.Client.Pages.Concepts.VolumeOfDistribution.Components.VdCalculator />

<PharmCore.Client.Pages.Concepts.VolumeOfDistribution.Components.DrugDistribution />


@code {

}
