@page "/Learn/VolumeOfDistribution/Video"

@using PharmCore.Client.Pages.Components
<div style=" width: auto; height: 100%; line-height: 0; z-index: 30">
    <VimeoPlayer VideoId="469366240" />
</div>


@code {

}
