@page "/Concepts/Potency"

@layout PharmCore.Client.Layout.ConceptLayout

<DevButton Page="/" />

<SectionContent SectionName="ConceptNav">
    @*  <PharmCore.Client.Layout.NavMenu /> *@
    <PharmCore.Client.Pages.Components.ConceptNav />
</SectionContent>

<SectionContent SectionName="ConceptTitle">
    <div>
        <h1>Potency</h1>
    </div>
</SectionContent>

<SectionContent SectionName="ConceptText">
    <p>
        [Not implemented]
    </p>
</SectionContent>