@page "/Concepts"
<div>
    <h3>Pharmacodynamics:</h3>
    <div class="concept-box">
        <div class="concept-card" style="background-color: darkorange;"><h3>Drug Target (1)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Drug-Target Interaction (2)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Structure-Activity Relationship (3)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Mechanism of Drug Action (4)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Dose/Concentration-Response Relationship (5)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Affinity (6)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Efficacy (7)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Potency (8)</h3></div>
        <div class="concept-card" style="background-color: darkorange;"><h3>Drug Selectivity (9)</h3></div>
    </div>
    <h3>Pharmacokinetics:</h3>
    <div class="concept-box" >
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Absorption (10)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Bioavailability (11)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Distribution (12)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Volume of Distribution (13)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Metabolism (14)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Zero- and First-Order Kinetics (15)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Elimination (16)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Elimination Half-Life (17)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Drug Clearance (18)</h3></div>
        <div class="concept-card" style="background-color: darkcyan;"><h3>Steady-State Concentration (19)</h3></div>
    </div>

    <h3>Patient Outcomes:</h3>
    <div class="concept-box" >
        <div class="concept-card" style="background-color: rebeccapurple;"><h3>Drug Tolerance (20)</h3></div>
        <div class="concept-card" style="background-color: rebeccapurple;"><h3>Adverse Drug Reaction (21)</h3></div>
        <div class="concept-card" style="background-color: rebeccapurple;"><h3>Therapeutic Index (22)</h3></div>
        <div class="concept-card" style="background-color: rebeccapurple;"><h3>Drug Interaction (23)</h3></div>
        <div class="concept-card" style="background-color: rebeccapurple;"><h3>Individual Variation in Drug Response (24)</h3></div>
    </div>
</div>
@code {

}
